<h2>Bikes</h2>

<ul>
{{#each model as |bike|}}
  <li>{{#link-to 'bike' bike}}{{bike.name}}{{/link-to}}</li>
{{/each}}
</ul>

<!-- <h2>ListR</h2>
{{#each model as |list|}}
  {{#link-to 'list' list}}
    {{listr-list/card title=list.title}}
  {{/link-to}}
{{/each}} -->
